body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
}

nav {
    background-color: #800000;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
}


header {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(#800000, #4d0000);
    position: relative;
    overflow: hidden;
  
}


header h1 {
    margin: 0;
    font-size: 3rem;
}


section {
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
}

section h2 {
    text-align: center;
    color: #ffd700;
}


video {
    display: block;
    margin: 40px auto;
    width: 100%;
    max-width: 515px;
    border-radius: 15px;
}


.cadre-video {
    position: relative;
    width: 720px;           
    height: 450px;               
    background-image: url("images/cadrevideo.png"); 
    background-size: 100% 100%;     /* pour que l’image remplisse tout la div sans se répéter */
    background-position: center;
    background-repeat: no-repeat;   /* empêche les répétitions */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 40px auto;          
    overflow: hidden; 
}


.cadre-video video {
    position: absolute;

    top: 45px;
    left: 20px;   
    right: 20px;  
    bottom: 45px;
    width: auto;
    height: auto;
    object-fit: cover; 
    border-radius: 0;}

#video h2{
    text-align: center;
    color: #ffd700;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

#video h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#video p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
    font-style: italic;
    color: white;

}



.equipe {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.equipe h2 {
    width: 100%;
    text-align: center;
    color: #ffd700;
    margin-bottom: 40px; 
    font-size: 1.5rem;
}

.membre {
    text-align: center;
}

.cadre-photo {
    width: 220px;
    height: 300px;
    background-image: url("images/cadre.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.cadre-photo img {
    width: 140px;
    height: 241px;
    object-fit: cover;
}

footer {
    background-color: #800000;
    text-align: center;
    padding: 20px;
    color: #ffd700;
}
